<div id="bkgOverlay" class="backgroundOverlay"></div>

<div id="delayedPopup" class="delayedPopupWindow">
  <!-- This is the close button -->
  <a href="#" id="btnClose" title="Click here to close this deal box.">[ X ]</a>
  <!-- This is the left side of the popup for the description -->
  <div class="formDescription">
    <h2>Welcome to Coffee&lt;br&gt;</h2>
    <%= link_to "Sign Up", new_user_registration_path %><br>
    <%= link_to "Sign In", user_session_path %>
  </div>
</div>



<div class="grid-item-6 center">
  <h1 class="banner">Coffee&lt;br&gt;</h1>
  <h1>Connect.</h1>
  <h1>Meet.</h1>
  <h1>Die in An Alley.</h1>
</div>
