<div class="grid-item-6 center"><h1><%= link_to "Click For New Meeting", new_post_path%></h1></div>

<div class="grid-item-5 center">
  <h1>Open Meetings</h1>
  <% @posts.each do |post| %>
    <% if !post.joiner? %>
      <%= render 'post', post: post %>
    <% end %>
  <% end %>
</div>

<div class="grid-item-7 center">
  <h1>My Meetings</h1>
  <% @posts.each do |post| %>
    <% if current_user.email === post.creator || current_user.email === post.joiner %>
      <%= render 'post', post: post %>
    <% end %>
  <% end %>
</div>
