<div class="grid-item-3 center">
    <h1>
      <%= link_to "Edit Post", edit_post_path(@post) %><br>
      <%= link_to 'Cancel Meeting', @post, :method => :delete %><br>
      <%= link_to "Back", posts_path %>
    </h1>
</div>

<div class="grid-item-6">

</div>

</div>
